*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

h1 {
    padding: 5px;
    margin-top: 10px;
}

h2 {
    color: rgb(53, 48, 48);
}

h2 span {
    color: cornflowerblue;
}

small {
    font-size: 70%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 50px;
}
.main {
    width: 70%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.mainchat{
    display: flex;
    background-color: #17212B;
    flex: 1;
}
.mainchat #sidebar{
    flex: 1;
    padding: 5px;
}
.mainchat #chat-area{
    flex: 3;
    position: relative;
    background-color: #0E1621;
}
.mainchat #users{
    flex:1;
}

button#btnshow {
    width: 35px;
    padding: 0 5px;
    height: auto;
}
#rooms > p{
    text-align: center;
    padding: 10px;
}
#users p{
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
#userlist{
    position:relative;
    margin-left: 5px;
}
#userlist li{
    display: flex;
    padding: 5px;
    position: relative;
    background-color: #0f1820;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #f0f4ff;
    font-size: .9rem;
}
#userlist li::before{
       content: '';
       display: inline-block;
       width: 8px;
       height: 8px;
       -moz-border-radius: 50%;
       -webkit-border-radius: 50%;
       border-radius: 7.5px;
       background-color: lime;
       margin-right: 10px;
       align-self: center;
    }
#userlist li:hover{
       background-color: #141518;
    }

#userlist li:last-child::after{
    content: '';
    display: none;
}
#roomlist li{
    background-color: #0f1820;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    outline: 0;
    font-size: .9rem;
}
#roomlist li::before {
    content: '🔸';
    display: inline-block;
    margin-right: 10px;
}

.title{
    height: auto;
}
.title h2 {
    background: #1F2936;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

#chat-display {
    height: 100%;
    padding: 20px 20px 0 20px;
    overflow: scroll;
    color: #fff;

}
#chat-area .chat-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90%;
}
#chat-area .chat-sender{
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.chat-sender > input {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #eeeeee4a;
    background: transparent;
    font-size: 14px;
    margin: 0;
    outline: none;
    border-radius: 5px;
    color: lightgray;
}

#send  {
    background: transparent;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#btnImageFile{
    cursor: pointer;
    background: transparent;
    border: 0;
    padding-left: 5px;
    margin: 0;
    display: flex;
    align-items: center;
}

#msg p {
    clear: both;
    float: left;
    font-size: 0.9rem;
    background-color: #182533;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 10px;
}

#msg p.self {
    float: right;
}
#msg p span {
    color: #039be5;
    color: cornflowerblue;
}
#msg img{
    object-fit: cover;
}

div#msg {
    overflow: hidden;
}

#create-room {
    background-color: #f0f4ff;
    color: cornflowerblue;
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}

#sidebar p {
    margin: 5px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    height: 375px;
    overflow: scroll;
}

    ul li {
        color: #fff;
        cursor: pointer;
    }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #6495ed;
}

    ::-webkit-scrollbar-thumb:hover {
        width: 2px;
        background: #497fe6;
    }

::-webkit-scrollbar-corner {
    background: #12171D;
}

#sidebar ul::-webkit-scrollbar {
    width: 5px;
}

#sidebar ul::-webkit-scrollbar-thumb {
    background: #6495ed;
}

    #sidebar ul::-webkit-scrollbar-thumb:hover {
        background: #497fe6;
    }

#sidebar ul::-webkit-scrollbar-corner {
        background: #1E2126;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 10px;
}

@media only screen and (max-width: 578px) {
    #sidebar {
        width: 100%;
        display: none;
        padding: 0;
    }

    ul#roomlist {
        width: 50%;
        float: left;
    }

    #chat-display {
        height: 200px;
    }
}

@media only screen and (min-width: 579px) {
    #btnshow {
        display: none;
    }
}
